footer {
    margin-top: 30px;
    text-align: center;
    padding: 10px;
    /* position: absolute; */
    bottom: 0;
    width: 100%;
    background-color: #f7c331;
  }
  
  footer p {
    margin-bottom: 0;
    color: #4e4e50;
    margin-left: -25px;
  }
  
  footer a {
    color: #6b7a8f;
    text-decoration: none;
  }
  
  footer a:hover {
    font-weight: bold;
    color: blue;
  }